<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.SpiraTest.AddOns.TestRailImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Spira/Services/v5_0/SoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService"
                contract="SpiraSoapService.ISoapService" name="BasicHttpBinding_ISoapService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Inflectra.SpiraTest.AddOns.TestRailImporter.Properties.Settings>
            <setting name="SpiraUserName" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="SpiraUrl" serializeAs="String">
                <value>https://myinstance.spiraservice.net</value>
            </setting>
            <setting name="SpiraPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Releases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestCases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestSets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestRuns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Attachments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestRailUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TestRailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TestRailUrl" serializeAs="String">
                <value>https://myinstance.testrail.net</value>
            </setting>
            <setting name="Defects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewUserPassword" serializeAs="String">
                <value>PleaseChange</value>
            </setting>
        </Inflectra.SpiraTest.AddOns.TestRailImporter.Properties.Settings>
    </userSettings>
</configuration>
